#con{
    padding-top: 100px;
}
h1,
h2{
    padding-top: 50px;
    padding-bottom: 50px;
}
#center{
    text-align: center;
}
#right{
    text-align: right;
}
.padding-med{
    padding-left: 50px;

}
.margin-bottom{
    margin-bottom: 35px;
}

/* header */
.allhead{
    padding-bottom: 80px;
}
.first-head{
    margin-top: 35px;
    margin-bottom: 5px;
}
#timg-head{
    width: 75%;
    height: 75%;
}